.education-main {
  width: 100%;
}

.basic-education {
  max-width: 1120px;
  margin: 0 auto;
  padding: 3rem 1.5rem 4rem;
}

.heading-div {
  display: flex;
}

.heading-div > * {
  flex: 1;
}

.heading-img-div {
  padding-top: 0;
  align-items: center;
  justify-content: center;
}

.achievement-heading {
  align-items: flex-start;
  gap: 2rem;
}

.achievement-img-wrap {
  flex: 0 0 auto;
  width: 28%;
  max-width: 260px;
  padding-top: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media (max-width: 1024px) {
  .achievement-heading {
    gap: 1.25rem;
  }
}

.achievement-content-wrap {
  flex: 1;
  min-width: 0;
  text-align: left;
}

.heading-text-div {
  text-align: center;
}

.achievement-heading .heading-text-div {
  text-align: left;
}

.heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 100px;
}

.heading-sub-text {
  font-size: 30px;
  font-family: "Google Sans Regular";
  text-align: center;
}

@media (max-width: 1380px) {
  .heading-text {
    font-size: 50px;
    margin-top: 80px;
  }
  .heading-sub-text {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .heading-text {
    font-size: 30px;
    margin-top: 20px;
  }

  .heading-sub-text {
    font-size: 20px;
  }

  .heading-div {
    flex-direction: column;
  }

  .achievement-heading {
    gap: 0.75rem;
  }

  .achievement-img-wrap {
    width: 100%;
    max-width: 240px;
    margin: 0 auto;
    padding-top: 0;
  }

  .achievement-content-wrap {
    text-align: center;
  }

  .achievement-heading .heading-text-div {
    text-align: center;
  }

  .basic-education {
    padding-top: 0.5rem;
  }
}
