.education-main {
  width: 100%;
}

.basic-education {
  max-width: 1120px;
  margin: 0 auto;
  padding: 3rem 1.5rem 4rem;
}

.heading-div {
  display: flex;
  margin-bottom: 2rem;
}

.heading-div > * {
  flex: 1;
}

.heading-img-div {
  align-items: center;
  justify-content: center;
}

.heading-text-div {
  text-align: center;
  padding: 0 1rem;
  min-width: 0;
}

.heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.2;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0.5rem;
}

.heading-sub-text {
  font-size: 30px;
  font-family: "Google Sans Regular";
  text-align: center;
  line-height: 1.4;
  margin: 0.5rem 0 1rem 0;
  padding: 0 0.25rem;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#educations.main {
  margin-top: 0.5rem;
  padding-top: 0;
}

@media (max-width: 1380px) {
  .heading-text {
    font-size: 50px;
    margin-top: 80px;
  }
  .heading-sub-text {
    font-size: 24px;
    line-height: 1.45;
    margin: 0.4rem 0 0.9rem 0;
  }
}

/* Small screens: same horizontal padding as Experience (no gap from screen edge) */
@media (max-width: 768px) {
  .basic-education {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media (max-width: 480px) {
  .basic-education {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (max-width: 768px) {
  .heading-text-div {
    padding: 0 0.5rem;
  }
  .heading-text {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0.4rem;
  }
  .heading-sub-text {
    font-size: 18px;
    line-height: 1.5;
    margin: 0.35rem 0 0.75rem 0;
    padding: 0;
  }
  .heading-div {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .heading-sub-text {
    font-size: 16px;
    line-height: 1.5;
  }
}
